body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    text-align: center;
}

.reveal-text {
    font-size: 3rem;
    color: #333;
    overflow: hidden; /* Oculta el texto que será revelado */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    animation: reveal 2s forwards; /* Aplica la animación de revelado */
    animation-delay: 1s; /* Retrasa el inicio de la animación para que sea visible */
}

@keyframes reveal {
    from {
        width: 0; /* Empieza sin ancho (texto invisible) */
    }
    to {
        width: auto; /* Termina con el ancho automático (texto completamente visible) */
    }
}
